
body{
	margin: 0;
	font-family: 'Cabin', sans-serif
}

.cabecera{
	
	height: 50px;
	
    margin: auto;

}
.lineaHead{
	background-color: #2d626d;
	height: 25px;
	display: flex;
    margin: auto;
}

.listaMenu{
	display: flex;
	position: absolute;
	
    right: 35px;

    list-style:none;
    padding: 10px;
    margin: 0;

}

.menuSup a {
	text-decoration: none;
    color: #2d626d;
    font-size: 20px;
    

   

}
.listaMenu li{
  
  padding-right:8px;
     border: 3px solid transparent;
  position: relative;

 
  padding-bottom:5px
}

.listaMenu li:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #2d626d;
  z-index: -1;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}




.line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}


.listaMenu li:hover:after,
.listaMenu li:active:after {
  transform: scale3d(0, 1, 1);
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}


.listaMenu li:hover .line.-bottom,
.listaMenu li:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

@keyframes opacity { 
  00% { opacity: 0; }
}
@-webkit-keyframes opacity { 
 0% { opacity: 0; }
}
@keyframes width { 
  00% { width: 50%; }
}
@-webkit-keyframes width { 
 0% { width: 50%; }
}


.background{
	background-image: url(../images/sublime.jpg);
	background-size: cover;
	width: 1100px;
	height: 368px;
	margin: 50px auto;
	display: flex;
	 	
  
  color: white;
  justify-content: space-between;
}
.titulo{
	margin: auto;
}

.portada{

  -webkit-animation: width 2s ease-out;
  animation: width 2s ease-out;
}

.avatar{
	-webkit-animation: opacity 3s ease-out;
  animation: opacity 3s ease-out;
}
.separador{
	-webkit-animation: opacity 3s ease-out;
  animation: opacity 3s ease-out;
  height: 2px;
  background-color: white;
}
.redes{
	display: flex;
    justify-content: space-between;
    list-style: none;
    width: 350px;
    padding-left: 0;
    
    font-size: 13px;
    overflow: hidden;
}
.nombre{
	text-align: center;
	font-size: 35px;
	margin-bottom: 5px;
}
.descripcion{
	text-align: center;
    margin-top: 5px;
    font-family: 'Ubuntu', sans-serif;
}
.linkedin{
		-webkit-animation: opacity 3s cubic-bezier(1,.09,1,-0.15);
  animation: opacity 3s cubic-bezier(1,.09,1,-0.15);
  background-image: url(../images/linkedin.jpg);
      width: 50px;
    height: 50px;
    position: absolute;
    background-size: cover;
    text-decoration: none;
    overflow: hidden;
    border-radius: 5px 5px 10px
    
}
.github{
		-webkit-animation: opacity 4s cubic-bezier(1,.09,1,-0.15);
  animation: opacity 4s cubic-bezier(1,.09,1,-0.15);
  background-image: url(../images/github.jpg);
      width: 50px;
    height: 50px;
    position: absolute;
    background-size: cover;
    text-decoration: none;
    overflow: hidden;
    border-radius: 5px 5px 10px

}
.facebook{
		-webkit-animation: opacity 5s cubic-bezier(1,.09,1,-0.15);
  animation: opacity 5s cubic-bezier(1,.09,1,-0.15);
  background-image: url(../images/facebook.jpg);
  background-size: 40px 40px;
      width: 50px;
    height: 50px;
    position: absolute;
    background-size: cover;
    text-decoration: none;
    overflow: hidden;
        border-radius: 5px 5px 10px
}

.textRedes{
	color: white;
	text-decoration: none;
	opacity: 0;
	padding: 20px 0 20px 0;
	margin: auto;
	text-align: center;

}
.textRedes:hover{
	opacity: 1;
	-webkit-transition: all 600ms cubic-bezier(0.450, 0.320, 0.990, 0.590); 
     -moz-transition: all 600ms cubic-bezier(0.450, 0.320, 0.990, 0.590); 
       -o-transition: all 600ms cubic-bezier(0.450, 0.320, 0.990, 0.590); 
          transition: all 600ms cubic-bezier(0.450, 0.320, 0.990, 0.590); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.450, 0.320, 0.990, 0.590); 
     -moz-transition-timing-function: cubic-bezier(0.450, 0.320, 0.990, 0.590); 
       -o-transition-timing-function: cubic-bezier(0.450, 0.320, 0.990, 0.590); 
          transition-timing-function: cubic-bezier(0.450, 0.320, 0.990, 0.590); /* custom */
}
.facebook:hover{
	
background-image: url(../images/facebookHover.png);
}
.github:hover{
	background-image: url(../images/githubHover.png)
}
.linkedin:hover{
	background-image: url(../images/linkedinHover.png);
}